extends layout

block content
	.pageContent
		.pageHeader.text-center
			.overlay
				.container
					.row
						.content.col-12
							h1 Emle Note System
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries

							.actions.col-12
								.styledBtn
									.col-sm-12
										a.btn(href='/users/register') Register
										a.btn(href='/users/login') Login

